// ---------------------------------
// BaseKit Baseplate: LESS > Colours
// ---------------------------------

// Editor Color Variables
// ----------------------

// @color-swatch1: Background
// @color-swatch2: Contrast
// @color-swatch3: Buttons
// @color-swatch4: Headings
// @color-swatch5: Paragraph
// @color-swatch6: Navigation Links
// @color-swatch7: Spare


// Custom Color Variables
// ----------------------

@bg-color: @color-swatch1;        // Background
@contrast-color: @color-swatch2;  // Contrast Color
@button-color: @color-swatch3;    // Button BG Color
@heading-color: @color-swatch4;   // Heading Text Color (H1 - H4)
@paragraph-color: @color-swatch5; // Paragraph Text Color
@nav-color: @color-swatch6;       // Nav Link Color
@spare-color: @color-swatch7;     // Spare Color