// ------------------------------
// BaseKit Baseplate: CSS > Theme
// ------------------------------


// -----------------------------
// #Table of Contents
// -----------------------------


// 1. #HEADER
// 2. #FOOTER
// 3. #TYPOGRAPHY
// 4. #FORMS




// -----------------------------
// 1. #Header
// -----------------------------

.theme-header {
    // Add styles here
}




// -----------------------------
// 2. #Footer
// -----------------------------

.theme-footer {
    // Add styles here
}




// -----------------------------
// 3. #Typography
// -----------------------------

// Colour Swatches
// ---------------

// @color-swatch1: Background
// @color-swatch2: Contrast
// @color-swatch3: Buttons
// @color-swatch4: Headings
// @color-swatch5: Paragraph
// @color-swatch6: Navigation Links
// @color-swatch7: Spare


// Colour Variables
// ----------------

@bg-color: @color-swatch1;          // Background
@contrast-color: @color-swatch2;    // Contrast Colour
@button-color: @color-swatch3;      // Button BG Colour
@heading-color: @color-swatch4;     // Heading Text Colour (H1 - H4)
@paragraph-color: @color-swatch5;   // Paragraph Text Colour
@nav-color: @color-swatch6;         // Nav Link Colour
@spare-color: @color-swatch7;       // Spare Colour


// Font Swatches
// -------------

// font1:  Heading 1
// font2:  Heading 2
// font3:  Heading 3
// font4:  Heading 4
// font5:  Paragraph
// font6:  Navigation Link
// font7:  Buttons
// font8:  Feature Headline
// font9:  Feature Strapline
// font10: Company Name (Logo)





// -----------------------------
// 4. #Forms
// -----------------------------

form,
.form {
    // Add styles here
}





