{% include "header.twig" %}
{#
<article class="article home-featured">
{{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
</article>
#}

<section class="page-body home-body">
	{{zone('main')|raw}}
</section>

{% include "footer.twig" %}