<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>
		{% include "includes/head.twig" %}

		{% include basekit.headScript %}
	</head>

	<body class="{{ page.backgroundClass }} {{ site.colorSwatch }}">

		{% include "includes/header.twig" %}


		<div class="page-wrap">

			{% block content %}
			{% endblock %}

			{% include "includes/footer.twig" %}

		</div>


		<script type="text/javascript">
			!function() {
				function supportsSVG() {
					return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
				}
				if (supportsSVG()) document.documentElement.className += ' svg'
			}()
		</script>

		{% include basekit.bodyScript %}

	</body>
</html>