{% include "header.twig" %}

<section class="page-body menu-body">
	{{zone('main')|raw}}
</section>

<section class="menu-section">
	{{widget('menu', 'menu1', {})|raw}}
</section>

{% include "footer.twig" %}