// Styles

.widget {
	position: relative;
	min-height: 200px;
}

img {
	max-width: 100%;
}

.feature__headline {
	padding: 100px;
	background-color: $color__feature-headline--background;
}





@import "@{templateCommon}/bk-less-framework-v8.less"; // BaseKit LESS Framework

// ** BaseKit LESS Framework is a set of non obtrusive LESS files that can be pulled into
//    your template to guarentee widgets come to life. Proivides default styles for all widgets.

// Template Includes
@import "@{templateLocal}/less/theme.less"; // Global styles
@import "@{templateLocal}/less/widgets.less"; // Widgets

// Plugin Includes
@import "@{templateLocal}/less/plugins/plugin-blog.less"; // Plugin: Blog CSS
@import "@{templateLocal}/less/plugins/plugin-menu.less"; // Plugin: Menu CSS
@import "@{templateLocal}/less/plugins/plugin-ecommerce.less"; // Plugin: Ecommerce CSS

@import "@{templateLocal}/less/variables.less";

