<footer class="template-footer">

	<div class="footer-copyright">
		{{widget('content', 'footercopyright', {content: '<small>Copyright &copy;</small>'})|raw}}
	</div>
	
	<div class="footer-socialicons">
		{{widget('profile', 'footersocialicons', { 'profileType' : 'socialicons' })|raw}}
	</div>
	
</footer>